# Kategorik Değişkenlerde Eksik Veri Analizi

In [1]:
import numpy as np
import pandas as pd

In [2]:
V1 = np.array([1,3,6,np.NaN,7,1,np.NaN,9,15])
V2 = np.array([7,np.NaN,5,8,12,np.NaN,np.NaN,2,3])
V3 = np.array([np.NaN,12,5,6,14,7,np.NaN,2,31])
V4 = np.array(["IT","IT","IK","IK","IK","IK","IK","IT","IT"])

df = pd.DataFrame({"Maaş" : V1,
                   "V2" : V2,
                   "V3" : V3,
                   "Departman" : V4})

df

   Maaş    V2    V3 Departman
0   1.0   7.0   NaN        IT
1   3.0   NaN  12.0        IT
2   6.0   5.0   5.0        IK
3   NaN   8.0   6.0        IK
4   7.0  12.0  14.0        IK
5   1.0   NaN   7.0        IK
6   NaN   NaN   NaN        IK
7   9.0   2.0   2.0        IT
8  15.0   3.0  31.0        IT

* Departmanların Maaş Ortalaması

In [3]:
df.groupby("Departman")["Maaş"].mean()

Departman
IK    4.666667
IT    7.000000
Name: Maaş, dtype: float64

* Maaş değişkenindeki boşlukları ortalama ile dolduralım.

In [4]:
df["Maaş"].fillna(df.groupby("Departman")["Maaş"].transform("mean"))

0     1.000000
1     3.000000
2     6.000000
3     4.666667
4     7.000000
5     1.000000
6     4.666667
7     9.000000
8    15.000000
Name: Maaş, dtype: float64

* Kategorik değişkenlerdeki eksik değerleri dolduralım.

In [5]:
V1 = np.array([1,3,6,np.NaN,7,1,np.NaN,9,15])
V2 = np.array(["IT",np.NaN,"IK","IK","IK","IK","IK","IT","IT"], dtype = object)

df = pd.DataFrame({"Maaş" : V1,
                   "Departman" : V2})

df

   Maaş Departman
0   1.0        IT
1   3.0       NaN
2   6.0        IK
3   NaN        IK
4   7.0        IK
5   1.0        IK
6   NaN        IK
7   9.0        IT
8  15.0        IT

* Departmandaki eksik değerleri mod ile dolduruyoruz.

In [6]:
df["Departman"].fillna(df["Departman"].mode()[0])

0    IT
1    IK
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: Departman, dtype: object

* Mod yerine bir önceki girilmiş değişken girilebilir.

In [7]:
df["Departman"].fillna(method = "bfill")

0    IT
1    IK
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: Departman, dtype: object

* Önceki değerle dolduralım.

In [8]:
df["Departman"].fillna(method = "ffill")

0    IT
1    IT
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: Departman, dtype: object