# The Dataset From This [Address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv)

In [1]:
import pandas as pd

* Tablar ile ayrıldığı için **"\n"** alırız.

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
df = pd.read_csv(url, sep = "\t")
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [3]:
df.shape

(4622, 5)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

## Kaç değişken vardır?

In [5]:
len(df.columns)

5

## Değişken isimleri nasıl yazdırılır?

In [6]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

## Veri nasıl indexlenmiştir?

In [7]:
df.index

RangeIndex(start=0, stop=4622, step=1)

## En çok sipariş edilen ürün hangisidir?

In [8]:
df.groupby("item_name").sum().sort_values(by = "quantity", ascending = False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

## En çok sipariş edilen ürün toplamda kaç kez sipariş edilmiştir?

In [9]:
df.groupby("item_name").sum().sort_values(by = "quantity", ascending = False).head(1) # order_id

              order_id  quantity
item_name
Chicken Bowl    713926       761

## "choice_description" değişkeninde en çok sipariş edilen ürün hangisidir?

In [10]:
df.groupby(by = "choice_description").sum().sort_values(by = "quantity", ascending = False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

## Toplamda kaç ürün sipariş edilmiştir?

In [11]:
df.quantity.sum()

4972

## "item_price" değişkeninin tipi nedir?

In [12]:
df.item_price.dtype # obje

dtype('O')

## "item_price" değişkeninin tipini nasıl değiştirebiliriz?

In [13]:
df.item_price[1]

'$3.39 '

* Önce dolar işareti ve boşluklardan kurtulmamız gerekiyor.

In [14]:
floatize = lambda x : float(x[1:-1])

df.item_price = df.item_price.apply(floatize)
df.item_price.head()

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

In [15]:
df.item_price.dtype

dtype('float64')

## Toplam kazanç ne kadardır?

In [16]:
(df.quantity*df.item_price).sum()

39237.02

## "order" başına ortalama kazanç nedir?
* Öncelikle geliri hesaplıyoruz.

In [17]:
df["revenue"] = df["quantity"]*df["item_price"]
df["revenue"].head()

0     2.39
1     3.39
2     3.39
3     2.39
4    33.96
Name: revenue, dtype: float64

In [18]:
df.groupby(by = "order_id").sum().mean()["revenue"]

21.394231188658654

## Kaç farklı ürün satılmıştır?

In [19]:
df["item_name"].value_counts().count()

50