## The Dataset From This [Address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user)

In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"

df = pd.read_csv(url, sep = "|")
df.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

## Veri setindeki değişken tipleri nasıldır?

In [3]:
df.dtypes

user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

## Kaç farklı "occupation" vardır?

In [4]:
df["occupation"].nunique()

21

In [5]:
df["occupation"].value_counts().count()

21

## "occupation" değişkeninde en sık geçen gözlem hangisidir?

In [6]:
df["occupation"].value_counts().head(1)

student    196
Name: occupation, dtype: int64

## Sayısal değişkenlerin özetine nasıl bakılır?

In [7]:
df.describe().T

         count        mean         std  min    25%    50%    75%    max
user_id  943.0  472.000000  272.364951  1.0  236.5  472.0  707.5  943.0
age      943.0   34.051962   12.192740  7.0   25.0   31.0   43.0   73.0

## Bütün değişkenlerin özetine nasıl bakılır?

In [8]:
df.describe(include = "all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
user_id,943,NaN,NaN,NaN,472,272.365,1,236.5,472,707.5,943
age,943,NaN,NaN,NaN,34.052,12.1927,7,25,31,43,73
gender,943,2,M,670,NaN,NaN,NaN,NaN,NaN,NaN,NaN
occupation,943,21,student,196,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zip_code,943,795,55414,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## "occupation" değişkeninin özetine nasıl bakılır?

In [9]:
df["occupation"].describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

## Kullanıcıların yaş ortalamaları kaçtır?

In [10]:
df["age"].mean()

34.05196182396607